.signin-right {
    width: 50%
}

.signin-left {
    width: 50%;
    background-color: #EAEEF4;
}

.signin-login-content {
    width: 40em;
    height: 50em;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    
}

.signin-login-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-login-heading {
    font-size: 1.5em;
    font-weight: 600;
}

.signin-login-body {
    display: flex;
    flex-direction: column;
}
